{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Изменения Профиля | profile.username
{% endblock %}

{% block content %}

<div class="py-3 text-center">
    <h2>Изменение</h2>
</div>

<div class="d-flex justify-content-center"> <!-- Добавляем классы для центрирования -->
    <form method="post" class="col-sm-7">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Изменить</button>
        </div>
        <hr>
        <p class="text-center"><b>Передумал изменять <a class="link-success" style="text-decoration: none"
                                                                href="{{ request.META.HTTP_REFERER }}">назад</a></b>
        </p>
    </form>
</div>

{% endblock %}
