{% extends 'main/base.html' %}

{% block title %}
{{ profile.username }} | Профиль
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-6">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal text-center">@<a class="link-light"
                                                           href="{% url 'users:profile' user.profile.slug %}">{{ profile.username }}</a></h4>
            </div>
            <div class="card-body">
                <h3 class="text-center">Почта - {{ profile.user.email }}</h3>
                <ul class="list-unstyled mt-3 mb-4">
                    <div class="text-center">
                        {% if profile.first_name and profile.last_name %}
                        <li><h4>Имя: <small class="text-muted">{{ profile.first_name }}</small></h4></li>
                        <li><h4>Фамилия: <small class="text-muted">{{ profile.last_name }}</small></h4></li>
                        {% endif %}
                        {% if profile.gender != 'unknown' %}
                        <li><h4>Пол: <small class="text-muted">{{ profile.get_gender_display }}</small></h4></li>
                        {% endif %}
                    </div>
                    <hr>

                    <li><h5>Созданно: <small class="text-muted">{{ profile.created }} | {{ profile.created|timesince }}
                        назад</small></h5></li>
                    {% if request.user == profile.user %}
                    <li><h5>Обновленно: <small class="text-muted">{{ profile.updated }} | {{ profile.updated|timesince }}
                        назад</small></h5></li>
                    {% endif %}
                </ul>
                {% if request.user == profile.user %}
                <hr>
                <a href="{% url 'users:profile_change' profile.slug %}" class="w-100 btn btn-lg btn-primary">Редактировать</a>
                <br><br>
                <div class="d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-warning" href="{% url 'users:password_change' %}">Сменить
                            Пароль</a>
                        <button class="btn btn-outline-danger" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            Деактивировать
                        </button>

                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                             aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Деактивировать Профиль</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div>
                                    <div class="alert alert-warning" role="alert">
                                        <h4 class="alert-heading">ПРОЧТИТЕ ВНИМАТЕЛЬНО!</h4>
                                        <p>После удаления профиля, вы не
                                            сможете получить доступ к профилю! Хотите ли вы удалить его?</p>
                                        <hr>
                                        <p class="mb-0">Если вы уверенны деактивировать свой аккаунт, вы можете нажимать
                                            кнопку УДАЛИТЬ</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-outline-danger"
                                       href="{% url 'users:profile_deactivate' profile.slug %}">Да,
                                        Деактивировать</a>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-center">
                                    <div class="d-grid gap-4 col-6 mx-auto">
                                        <button type="button" class="btn btn-outline-primary"
                                                data-bs-dismiss="offcanvas"
                                                aria-label="Close">Назад
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
