{% extends 'main/base.html' %}

{% block title %}
{{ request.user.profile.username }} | Профиль
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Супер!</h4>
        <p>Вы сменили пароль для учетной записи под ником {{ request.user.profile.username }}. Для того чтобы не забыть
            пароль запишите его куда нибудь!</p>
        <hr>
        <p class="mb-0">Если не знаете какой пароль выбрать, вы можете воспользоваться инструментом <a href="#">генератор
            пароля</a></p>
    </div>
</div>
{% endblock %}
