{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block extrahead %}

<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}

{% block title %}
Редактирование поста
{% endblock %}

{% block content %}
<div class="justify-content-center">
    <div class="form-control">
        <h2 class="text-center text-primary fw-bold">Редактирования блога <br><span class="text-secondary">{{ blog.title }}</span></h2>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-success">Редактировать</button>
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Назад</a>
        </form>
    </div>
</div>
{% endblock %}