{% extends 'main/base.html' %}

{% block title %}
Пароли
{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="col-7">
        <h2 class="font-monospace text-center text-success">Последние {{ passwords|length }} сгенерированных
            паролей</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Пароль</th>
                <th scope="col">Дата</th>
            </tr>
            </thead>
            <tbody>
            {% for pass in passwords %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <input type="text" class="password-input" value="{{ pass.password }}" disabled>

                    <button class="btn btn-outline-success"
                            onclick="copyToClipboard(this.getAttribute('data-password'))"
                            data-password="{{ pass.password }}">

                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                             class="bi bi-clipboard" viewBox="0 0 16 16">
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                        </svg>

                    </button>
                </td>
                <td>{{ pass.created }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if user.is_authenticated %}
        <h3 class="font-monospace text-center"><a href="{% url 'password_list' request.user.profile.slug %}">Создать свой пароль</a></h3>
        {% else %}
        <h3 class="font-monospace text-center"><a href="{% url 'users:login' %}">Создать свой пароль</a></h3>
        {% endif %}
    </div>
</div>
<script>
    function copyToClipboard(text) {
        var textarea = document.createElement('textarea');
        textarea.value = text;
        document.body.appendChild(textarea);

        textarea.select();
        document.execCommand('copy');

        document.body.removeChild(textarea);
    }
</script>
{% endblock %}